#### do not use quotes ####

## general Settings
tz=Africa/Johannesburg
adminMail=you@you.com
debug=1
entitiesAuthRequired=1
domain=https://yourdomain.co  ##I can give you one with FTP access

##apiAuth
api-key=11111111111111111111111111111111111111111111
api-user-name=yourusernam I supply
api-user-pin=your pin I supply - If not used in 10 days it expires

##apiAccess
api-host=https://api.skunks.co
user-api-area=/user
sites-api-area=/sites
entities-api-area=/entities/theInvocationIsetForYou
mail-api-area=/mail

## siteInfo
imgSuffix=yourname
siteSlug=youSlug -- see:: https://itnext.io/whats-a-slug-f7e74b6c23e0
siteMenuLeader=Elements
siteName=Your Unique Site name
defaultPageSize=18 -- number of records to paginate to