
<section id="header">
    <div class="container">
        <nav id="nav">
            <ul>
              <li>
                <a href="#" class="icon fa-chart-bar"><span></span></a>
                <ul>
                  <li><a href="index.php">Our Club</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        <!-- Logo -->
          <h1 id="logo"><a href="index.php"></a>Theewaters Sport Club</h1>
      </div>
</section>
<!-- Features -->
<section id="features">
    <div class="container">
        <header>
            <h1>App Inconsistency (Data)</h1>
        </header>
        <br>
        <h2>###messageResponse###</h2>
        <br><br><br>
        <div class="container"><a href="index.php" class="button">&nbsp;&rarr;&nbsp;Navigate Home Here&nbsp;&nbsp;</a></div>
        <br>
    </div>
</section>
</div><!--page-wrapper-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<pre>
    ###debugger###
</pre>
</body>
</html>