<section id="header">
  <div class="container">
        ###siteLogo###
        <nav id="nav">
          <ul>
            <li>
              <a href="#" class="icon fa-chart-bar"><span></span></a>
              <ul>
                ###menu###
              </ul>
            </li>
          </ul>
        </nav>
  </div>
</section>
<section id="features">
  <div class="container">
    <header>
      ###pictureHeader###
    </header>
      <div class="col-4 col-6-medium col-12-small">
          <section>
            <a href="#" class="image featured"><img src="assets/images/index/###randpicno###.png" alt="" /></a>
            ###pictureFooter###
          </section>
      </div>
  </div>
</section>
<section id="footer">
  <div class="container">
    <header>
      ###footTextHeader###
    </header>
      <div class="col-6 col-12-medium">
        <section>
          <p>
            ###footText###
          </p>
        </section>
        <section>
          <header>
            ###touchUs###
          </header>
          ###feedback###
          <br>
          Status:<b> ###validUser### </b>
          ###logoutText###
        </section>
      </div>
  </div>
    <div id="copyright" class="container">
      <ul class="links">
        ###copyRight###
      </ul>
  </div>
</section>
